* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fef2f2;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans";
  font-family: "Merriweather", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/home-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.wrapper {
  max-width: 95%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  border: 2px solid #b91c1c;
  border-radius: 10000px;
}

.btn:hover,
.btn:active {
  /* background-color: #333; */
  transform: scale(1.1);
}

.flex {
  display: flex;
  flex-direction: column;
}
