nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0 4.8rem 0;
  margin-bottom: 6.4rem;
}

.home-link,
.home-link {
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}

.home-link ion-icon {
  color: #b91c1c;
  font-size: 3.2rem;
  transform: rotate(30deg);
  margin: 0.2rem;
}

.press-btn:link,
.press-btn:visited {
  font-size: 1.6rem;
  padding: 0.6rem 1.6rem;
  transition: all 0.4s;
}

.hero-section {
  margin-top: 15rem;
  /* border: 1px solid red; */
}

.hero-title {
  font-size: 4.6rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}

.hero-title span {
  color: #b91c1c;
}

.cta-btn:link,
.cta-btn:visited {
  font-size: 1.8rem;
  padding: 1.2rem 1.6rem;
  transition: all 0.4s;
}

.cta-btn:hover,
.cta-btn:active {
  transform: scale(1.2);
}
