* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* color: #fef2f2; */
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/home-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  font-family: "Merriweather", sans-serif;
}

main {
  background-color: rgba(24, 24, 27, 0.377);
  width: 95%;
  max-width: 500px;
  padding: 2.8rem 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

h1 {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  color: #fef2f2;
}

h1 ion-icon {
  color: #b91c1c;
  font-size: 3.2rem;
  transform: rotate(30deg);
  margin: 0.1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.input-elements,
.remember-forgot,
.sign-options,
.register {
  grid-column: 1/-1;
}

.input-elements,
.sign-options {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.input-el,
.login-btn,
.login-google {
  padding: 1rem;
  border-radius: 0.6rem;
  border: none;
  font-size: 1rem;
  font-family: "Merriweather", sans-serif;
}

.input-el:focus {
  outline: 2px solid #b91c1c;
}

.login-btn {
  background-color: rgba(185, 28, 28, 0.822);
  color: #fff;
}

.login-google {
  background-color: #525252;
  color: #fff;
  font-size: 1.1rem;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
}

.remember-label,
.message {
  color: #fef2f2;
  opacity: 0.4;
}

.forgot,
.register-link {
  color: rgba(185, 28, 28, 0.822);
  text-decoration: none;
}

.register {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}
